body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}


.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.currentweather-bg {
  display: flex;
  height: 96vh;
  /* max-height: 100px; */
  justify-content: center;
  
}
